.container{
  margin-right: auto;
  margin-left:  auto;
  width: 80%;
  padding-right: 10px;
  padding-left: 10px;
  /*overflow-x: hidden;*/
}


.leftPanel {
  width: var(--left-panel-width);
}
.rightPanel {
  width: var(--right-panel-width);
  padding-left: var(--size10px);
  padding-right: var(--size10px);
}



.center{
  text-align: center;
}

.grid-container {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));*/
  grid-template-columns: auto auto auto auto;
  grid-area: auto;
}
.grid-item {
  padding: 1rem;
  text-align: center;
}

.row {
  display: flex;
}

.height450{
  height: 450px;
}

.column{
  flex-direction: column;
}


h1,h2,h3,h4{
  margin: 0;
}

.click{
  cursor: pointer;
}
div > span{
  margin: 1.5px;
}
a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  color: var(--black-color) !important;
}

.right{
  text-align: right;
}

.xred{
  color: var(--purple-color) !important;
}

.box {
  border: 2px solid var(--gray-color);
  border-radius: 0.3rem;
  left: 0;
  line-height: 1.5rem;
  /*box-shadow: 2px 2px 10px var(--gray-color);*/
}



